<h1>Show Task</h1>

<h2><%= @task.title %></h2>
<p><%= @task.description %></p>
<p><%= @task.company %></p>

<%= link_to "Edit", edit_task_path %>
<%= link_to "Trash", task_path, method: :delete, data: { confirm: "Are you sure?" } %>